/* Topline */
body{
    background-color: #d6d6d6;
    margin: 0;
}
.centerImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.left{
    float: left;
}
.center{
    float: center;
}
.right{
    float: right;
}

/* Typography */
h1{
    font-family: 'Audiowide', cursive;
    font-size: 48px;
}
h2{
    font-family: 'Audiowide', cursive;
    font-size: 42px;
}
h3{
    font-family:'Roboto', sans-serif;
    font-size: 36px;
}
h4{
    font-family:'Roboto', sans-serif;
    font-size: 24px;
}

/* Nav Bar */
.topnav{
    height: 80px;
    width:auto 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li {
    display: inline;
} 
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 0px 20px;
    text-decoration: none;
    font-family: 'Audiowide';
    font-size: 24px;
}
li a:hover {
    color: #FF0000;
  }

/* Logo Area */
.mainArea{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 140px;
    margin-right: 140px;
    align-items: center;
    text-align: center;
}
.mainAreauxdesign{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 140px;
    margin-right: 140px;
    align-items: center;
}
.mainLogo h1{
    margin-top: 0;
    margin-bottom: 0px;
}
.logo{
    max-height: 250px;
    max-width: 250px;
    margin-bottom: 10px;
}
.logouxdesign{
    max-height: 250px;
    max-width: 250px;
    margin-bottom: 10px;
    margin-right: 40px;
}
.uxBio{
    display:block;
    text-align: left;
}
.uxBio p{
    margin-top: 40px;
    font-size: 18pt;
    font-family:'Roboto', sans-serif;
}
/* Medium Cards */
.mediumCards{
    margin: 80px 140px;
    outline: 1px solid red;
}
.mediumCardstyle{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.mediumCardstyle img{
    width: 320px;
    height: 200px;
}
.mediumCardstyle h3{
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    font-family: 'Audiowide', cursive;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-top: 0px;
}

/* Casestudy Cards */
.casestudies{
    margin: 80px 140px;
    padding: 10px;
    outline: 1px solid red;
}
.casestudyCard{
    margin-left: 20px;
    margin-right: 20px;
    height: 300px;
    width: 480px;
    display: inline-block;
}
/* Footer */
footer{
    height: 104px;
    padding: 80px 140px 80px 140px;
    background-color: #000000;
}
footer h4{
    color:white;
    font-size: 20px;
    font-family: 'audiowide';
    margin: 0;
}
.footerIcon{
    display: inline-block;
    object-fit: contain;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.fontIcon p{
    color: white;
    display: inline-block;
}